body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Aumenta el ancho */
}

.react-calendar {
  width: 400px; /* Ajusta el ancho deseado */
  height: 400px; /* Ajusta la altura deseada */
  font-size: 1.5em; /* Cambia el tamaño de fuente si es necesario */
}

.appointment-list {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}
.highlight {
  background-color: #f6e443 !important; /* Color de fondo amarillo */
  border-radius: 50%;
}
